<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KidsHelpReading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KidsHelpReadingTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E16988B21DC4983800E6F8DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E19CA43A1DC28DF3000C6C7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1B62E7F1DC2B0F0009E2D98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
